@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    
}

nav{
    background-color: rgb(43, 43, 43);
    color: white;
    height: 65px;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: "Roboto", serif;
}

nav ul{
    list-style-type: none;
}