@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    
}

nav{
    background-color: rgb(43, 43, 43);
    color: white;
    height: 65px;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: "Roboto", serif;
}

nav ul{
    list-style-type: none;
}


.gameContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88.2vh;
   
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
    font-family: "Roboto", serif;
}

.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
    background-color: #eedaff;
}
.info{
    font-size: 20px;
}
.gameInfo{
    padding: 0 34px;
    font-family: "Baloo Bhaina 2", serif;
}

.imgBox img{
    width: 0;
    transition: width 1s ease-in-out;
}


.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}

.reset{
    margin: 0 23px;
    padding: 1px 10px;
    background-color: #f1dcfd;
    border-radius: 6px;
    cursor: pointer;
    font-family: "Baloo Bhaina 2", serif;
    font-size: 15px;
    font-weight: bolder;
}